Col{
    margin-bottom: 1.5rem;
}

.card{
    border: 0px;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    position: relative;
}

img.card-img{
    width: 100%;
}

p.button-img{
    position: absolute;
    background: #DC3545;
    color: #fff;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 8px;
    margin-top: 8px !important;
    top: 0;
    left: 0;
}

.card-city{
    font-weight: 300;
    color: #969ba1;
    margin-bottom: 16px;
}

.card-name{
    color: #002248;
    
    margin-bottom: 16px;
}

.card-text{
    margin-bottom: 16px;
}

.card-prices{
    font-weight: 700;
    color: #44d7b6;
    margin: 0 8px;

}

.card-prices-line{
    font-size: 12px;
    color: #969ba1;
    text-decoration: line-through;

}

.card-star{
    color: #f9bf00;
    font-size: 12px;
}